table {
 
}

table td {
    cursor: pointer;
}

table td.filled {
    cursor: default;
}

#line1 .left {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

#line1 .center {
    border-bottom: 1px solid black;    
}

#line1 .rigth {
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

#line2 .left {
    border-right: 1px solid black;
}

#line2 .center {
    
}

#line2 .rigth {
    border-left: 1px solid black;   
}

#line3 .left {
    border-right: 1px solid black;
    border-top: 1px solid black;
}

#line3 .center {
    border-top: 1px solid black;
}

#line3 .rigth {
    border-left: 1px solid black;
    border-top: 1px solid black;   
}